.sublist {
  margin: 20px 20px 20px 20px;
  padding: 10px;
  background-color: bisque;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: black;
}

.sublist .sublistHeader {
  display: flex;
  flex-direction: row;
  margin-left: 15px
  
}

.sublist .expenseSublist {
  display: flex;
  flex-direction: row;
}